/*Simple reset*/
* {margin: 0; padding: 0;}

body, html {
	background: #000;
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;


	font-family: "walkway_boldregular";
	letter-spacing: -2px;
	color: #fff;
	font-size: 75px;
	 -webkit-font-smoothing: antialiased;
}

canvas {
	display: block;
}

.wi {
	line-height: 65px;

}

.top
{
	position: absolute;
	top: 50px;
}

.left
{
	position: absolute;
	left: 50px;
}
.right
{
	position: absolute;
	right: 50px;
	text-align: right;
}

.center-ver
{
	position: absolute;
	top: 50%;
	height: 200px;
	margin-top: -100px;
	line-height: 100px;
}

.lower-third
{
	position: absolute;
	top: 66.666%;
	height: 200px;
	margin-top: -100px;
	line-height: 100px;	
}

.center-hor
{
	position: absolute;
	right: 50px;
	left: 50px;
	text-align: center;	
}

.bottom
{
	position: absolute;
	bottom: 50px;
}

.xxsmall
{
	font-size: 15px;
	letter-spacing: 0px;
}
.xxsmall .wi {
	line-height: 15px;
}

.xsmall
{
	font-size: 20px;
	letter-spacing: 0px;
}
.xsmall .wi {
	line-height: 20px;
}


.small
{
	font-size: 25px;
	letter-spacing: 0px;
}
.small .wi {
	line-height: 25px;
}

.medium
{
	font-size: 35px;
	letter-spacing: 0px;
}
.medium .wi {
	line-height: 35px;
}

.xxlarge
{
	font-size: 200px;
}

.xdimmed
{
	color: #666;
} 

.dimmed
{
	color: #bbb;
}

.underlined
{
	text-decoration: underline;
}

.light
{
	font-family: "walkway_semiboldregular";
}

.icon 
{
	position: relative;
	top :-10px;
	display: inline-block;
	font-size: 45px;
	padding-right: 5px;
	font-weight: 100;
	margin-right: 10px;
}

.icon-small
{
	position: relative;
	display: inline-block;
	font-size: 20px;
	padding-left: 10px;
	padding-right: -10px;
	font-weight: 100;
}

.time .sec {
	font-size: 25px;
	color: #aaa;
	padding-left: 5px;
	position: relative;
	top: -35px;
}

.forecast-table {
	float: right;
	text-align: right;
	font-size: 20px;
	line-height: 20px;
}
.forecast-table .day, .forecast-table .temp-min, .forecast-table .temp-max  
{
	width: 50px;
	text-align: right;
}
.forecast-table .temp-max {
	width: 50px;
}
.forecast-table .day {
	color: #999;
}
.feelsliketemp {
	font-size: 20px;
	letter-spacing: 0px;
}
.feelsliketemp .padding {
	padding-bottom: 15px;
}

.weathersummary {
	width: 440px;
	padding-bottom: 15px;
}

.traffic .padding {
	padding-bottom: 15px;
	padding-left: 1px;
}

.calendar-table {
	border: 0;
	font-size: 20px;
	line-height: 20px;
	font-family: "walkway_boldregular";
}
.calendar-table .calendar-icon {
	width: 1em;
	min-width: 1em;
	margin-right: 5px;
	text-align: center;
}
.calendar-table .description {
	padding-right: 10px;
	text-align: left;
}
.calendar-table .days {
	padding-left: 20px;
	text-align: right;
}


@font-face {
	font-family: 'walkway_ultraboldregular';
	src: url('font/Walkway_UltraBold-webfont.eot');
	src: url('font/Walkway_UltraBold-webfont.eot?#iefix') format('embedded-opentype'),
	url('font/Walkway_UltraBold-webfont.woff') format('woff'),
	url('font/Walkway_UltraBold-webfont.ttf') format('truetype'),
	url('font/Walkway_UltraBold-webfont.svg#walkway_ultraboldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'walkway_semiboldregular';
	src: url('font/Walkway_SemiBold-webfont.eot');
	src: url('font/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
	url('font/Walkway_SemiBold-webfont.woff') format('woff'),
	url('font/Walkway_SemiBold-webfont.ttf') format('truetype'),
	url('font/Walkway_SemiBold-webfont.svg#walkway_semiboldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'walkway_boldregular';
	src: url('font/Walkway_Bold-webfont.eot');
	src: url('font/Walkway_Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('font/Walkway_Bold-webfont.woff') format('woff'),
	url('font/Walkway_Bold-webfont.ttf') format('truetype'),
	url('font/Walkway_Bold-webfont.svg#walkway_boldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


